<% title "Settings" %>
<ul>
	<li class="arrow">
		 <%= link_to image_tag('/images/outlet.png', :class => "img") + "Power sockets", socket_settings_url %>
	</li>
</ul>
<ul>
	<li class="arrow">
		 <%= link_to image_tag('/images/presets.png', :class => "img") + 'Presets', preset_settings_url %>
	</li>
</ul>
